{% extends "auctions/layout.html" %}

{% block body %}
<h2>Auction {{auction.id}}</h2>
<div class="container-fluid">
    <div class="row">
        <div class="left-side col-lg-5 col-sm-6">
            
            {% if auction.image %}
                <div class="image_auction">
                <img src="{{ MEDIA_URL }}{{auction.image.url}}" alt="image good" class="photo">
                </div>
            {% else %}
                <br><br>
                <span>No image</span>
                <br><br>
            {% endif %}
            <br>
            {% if message is not None %}
            <a class="btn btn-primary" href="{% url 'add_watchlist' auction.id %}"> {{message}} </a>
            {% endif%}
            <br>
            
            
        </div>

    
        <div class="right-side col-lg-7 col-sm-6">
            
            <ul>
                <li><span class="list_name">Name good: </span> {{auction.name_good}}</li>
                <li><span class="list_name">Description: </span>{{auction.description}}</li>
                <li><span class="list_name">Categories: </span>{{auction.categories}}</li>
                <li><span class="list_name">Status: </span>{{auction.status}}</li>
                <li><span class="list_name">Created by: </span>{{auction.user}}</li>
                <li><span class="list_name">Price: </span>{{auction.price}} UAH</li>
                <li><span class="list_name">Last bit: </span>{% if bitmax %} {{bitmax}} {% endif %} </li>
            </ul>
            {% if form %}
            <form action="{% url 'add_bit' auction.id %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ form}}
                </div>
                <p>{{message_bit|safe}}  {% if bmax %} {{bmax}} {% endif %}</p> 

                <input class="btn btn-primary" type="submit" value="Save">
            </form>
            {% endif %}
            <br>
            {% if message_winner  %}
            {{message_winner}}
            {%endif%}
            <br>

            {% if message_close is not None %}
            {{message_close}}  
            <form action="{% url 'auction_close' auction.id %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ form_auction.status}}
                </div>
                <input class="btn btn-primary" type="submit" value="Save">
            </form>
            {% endif %}
        </div>
    </div>
    <h4> Last comments: </h4>
    
    {% for auctioncomment in auctioncomments %}
        <ul>
            <li><span class="list_name">Author {{auctioncomment.user}}: </span>  {{auctioncomment.comment}}. Commented on {{auctioncomment.date}} </li>
        </ul>
    {% empty %}
        <span> No comments </span>
    {% endfor %}
    <br><br>
    <form action="{% url 'create_comment' auction.id %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            {{form_comment}}
        </div>
        <input class="btn btn-primary" type="submit" value="Save">
    </form>

</div>

{% endblock %}