{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    <div class="container-fluid">
        <div class="row">
                {% for auction in auctions %}
                    <div class="auction_container col-lg-3 col-sm-6">
                            {% if auction.image %}
                                <div class="image">
                                    <img src="{{ MEDIA_URL }}{{auction.image.url}}" alt="image good" class="photo">
                                </div>
                            {% else %}
                                <br><br>
                                <span>No image</span>
                                <br><br>
                            {% endif %}
                        <ul class="list">    
                            <li><span class="list_name">Name good: </span>{{auction.name_good}}</li>
                            <li><span class="list_name">Description: </span>{{auction.description}}</li>
                            <li><span class="list_name">Price: </span>{{auction.price}} UAH</li>
                            <li><span class="list_name">Categories: </span>{{auction.categories}}</li>
                            <br>  
                            <a class="btn btn-primary" href="{% url 'auction' auction.id %}"> go to </a>
                        </ul>
                       
                    </div>    
                {% empty %}
                        <span> No auctions. </span>
                        
                    
                {%endfor%}    
        </div>
    </div>

   
{% endblock %}